@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.md{
  /* background-image: url("../assests/bg.jpg"); */
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-painted-whitewash-background_23-2151171148.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724198400&semt=ais_hybrid");
   background-position: center;
   filter: grayscale(.2);
  /* background-blend-mode:difference; */
   background-size: cover;
}

.final{
  background-image: url("../assests/page.jpg");
    background-position: center;
    mix-blend-mode: darken;
    filter: grayscale(.5);
     background-size: cover;
 }

 .mmd{
  background-color: #1e1b1b;
    }

 

 
 
.wrapper {
  min-height: 3rem;
  min-width: 40vw;
  max-width: 65vw;
  color: #606063;
  font-size: 1.6rem;
  position: relative;
   margin-top: 39vh;
   margin-left: 13vw;
  overflow: hidden;
   
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
  font-family: monospace;
}

.letter {
  width: 1ch;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 100%;
  animation: scroll 5.5s linear infinite;
}

@keyframes scroll {
  to {
    left: -1ch;
  }
}
.letter1 {
  animation-delay: calc(5.5s / 24 * (24 - 1) * -1);
}
.letter2 {
  animation-delay: calc(5.5s / 24 * (24 - 2) * -1);
}
.letter3 {
  animation-delay: calc(5.5s / 24 * (24 - 3) * -1);
}
.letter4 {
  animation-delay: calc(5.5s / 24 * (24 - 4) * -1);
}
.letter5 {
  animation-delay: calc(5.5s / 24 * (24 - 5) * -1);
}
.letter6 {
  animation-delay: calc(5.5s / 24 * (24 - 6) * -1);
}
.letter7 {
  animation-delay: calc(5.5s / 24 * (24 - 7) * -1);
}
.letter8 {
  animation-delay: calc(5.5s / 24 * (24 - 8) * -1);
}
.letter9 {
  animation-delay: calc(5.5s / 24 * (24 - 9) * -1);
}
.letter10 {
  animation-delay: calc(5.5s / 24 * (24 - 10) * -1);
}
.letter11 {
  animation-delay: calc(5.5s / 24 * (24 - 11) * -1);
}
.letter12 {
  animation-delay: calc(5.5s / 24 * (24 - 12) * -1);
}
.letter13 {
  animation-delay: calc(5.5s / 24 * (24 - 13) * -1);
}
.letter14 {
  animation-delay: calc(5.5s / 24 * (24 - 14) * -1);
}
.letter15 {
  animation-delay: calc(5.5s / 24 * (24 - 15) * -1);
}
.letter16 {
  animation-delay: calc(5.5s / 24 * (24 - 16) * -1);
}
.letter17 {
  animation-delay: calc(5.5s / 24 * (24 - 17) * -1);
}
.letter18 {
  animation-delay: calc(5.5s / 24 * (24 - 18) * -1);
}
.letter19 {
  animation-delay: calc(5.5s / 24 * (24 - 19) * -1);
}
.letter20 {
  animation-delay: calc(5.5s / 24 * (24 - 20) * -1);
}
.letter21 {
  animation-delay: calc(5.5s / 24 * (24 - 21) * -1);
}
.letter22 {
  animation-delay: calc(5.5s / 24 * (24 - 22) * -1);
}
.letter23 {
  animation-delay: calc(5.5s / 24 * (24 - 23) * -1);
}
.letter24 {
  animation-delay: calc(5.5s / 24 * (24 - 24) * -1);
}


/* From Uiverse.io by kennyotsu */ 
.card {
  /* color used to softly clip top and bottom of the .words container */
  --bg-color: transparent;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: hsl(52, 100%, 55%);
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.heart #line {
  fill: none;
  stroke: #000000;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 5s linear forwards;  /* Run once and remain visible */
}

.heart #point {
  fill: none;
  stroke: #0000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0.1;
  stroke-opacity: 1;
  stroke-dasharray: 0.0001, 0.9999;
  stroke-dashoffset: 1;
  animation: dash 5s linear forwards;  /* Run once and remain visible */
}

@keyframes dash {
  0% {
      stroke-dashoffset: 1;
  }
  80% {
      stroke-dashoffset: 0;
  }
  100% {
      stroke-dashoffset: 0;
  }
}
